selenium>=3.141.0
pylint>=2.4.4
flake8>=3.7.9
flake8-polyfill>=1.0.2
pytest==5.3.5
Sphinx==3.0.4
sphinx-rtd-theme==0.4.3
coverage==5.1
radon>=4.1.0
git+https://github.com/byran/ScreenPlay@master#ogg=ScreenPlay
git+https://github.com/byran/SphinxJinja2@master#ogg=SphinxJinja2
